<div class="container">
  <as-split direction="horizontal">  
    <as-split-area [size]="30"  style="position: relative; overflow: hidden;">
      <ifc-viewer [settings]="modelViewerSettings"></ifc-viewer>
    </as-split-area>

    <as-split-area [size]="70" style="padding: 10px; overflow-y: scroll; display: flex; flex-direction: column; gap: 10px">
      <input #ifcUpload type="file" (change)="onModelUpload($event)" style="display:none" accept=".ifc">
      <button mat-raised-button (click)="ifcUpload.click()">Upload IFC</button>

      <button  mat-raised-button *ngIf="fileUploaded" (click)="exportExcel()">Export to Excel</button>


      <ul>
        <li *ngFor="let item of list">
          <input type="checkbox" [(ngModel)]="item.checked">{{item.title}}
        </li>
      </ul>
      
      <pre>{{this.result | json}}</pre>

      <table *ngIf="fileUploaded && readyToCal == false && doneCal == false " id="excel-table">
        <tr>
          <th>Pset</th>
          <th>Instans</th>
          <th>Predicate</th>
          <th>Value</th>
        </tr>
        <tr *ngFor="let item of spaces">
          <td>{{item.URI}}</td>
          <td>{{item.name}}</td>
          <td>{{item.predicate}}</td>
          <td>{{item.value}}</td>
          
          <td></td>
        </tr>
      </table>

      
      
    </as-split-area>
  </as-split>
</div>