.container{
    height: 100vh;
    width: 100%;
}

/* Table */
.table{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.table .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.table .header{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.table .cell{
    width: 100%;
    background-color: #eee;
}

.table .row:hover{
    cursor: pointer;
    font-weight: 500;
}
  
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: rgba(30, 144, 255, 0.25);
  }

  .IfcTypeList {
    column-count: 3;
}

.flexSpaceBetween {
    justify-content: space-between;
    margin-right: 10px;
    align-items: left;
    width: 550px;
  }