<div class="container">
  <as-split direction="horizontal">  
    <as-split-area [size]="30"  style="position: relative; overflow: hidden;">
      <ifc-viewer [settings]="modelViewerSettings"></ifc-viewer>
    </as-split-area>

    <as-split-area [size]="70" style="padding: 10px; overflow-y: scroll; display: flex; flex-direction: column; gap: 10px">
      <input #ifcUpload type="file" (change)="onModelUpload($event)" style="display:none" accept=".ifc">
      <mat-toolbar class="flexSpaceBetween" >
        <button class="btn" mat-raised-button (click)="ifcUpload.click()">
          Upload model <mat-icon>cloud_upload</mat-icon>
        </button>

        <button class="btn" mat-raised-button [disabled]="!fileUploaded" (click)="extractData()">
          Extract Data <mat-icon>arrow_right_alt</mat-icon>
        </button>

        <button class="btn" mat-raised-button [disabled]="!dataExtracted" (click)="exportExcel()">
          Export to Excel <mat-icon>cloud_download</mat-icon>
        </button>
      
        <button class="btn" mat-raised-button [disabled]="!fileUploaded"  (click)="getSpaceTabel()">
          Get Standard Room Tabel <mat-icon>home</mat-icon>
        </button>
    </mat-toolbar>

      <div *ngIf="fileUploaded"> Select which types you want to make the data extraction for:
        <br>
        <p> Make individual selection / Select All:
          <input type="checkbox" [(ngModel)]="masterCheck" (click)="onSelectAll()" >
        </p>
        <ul class="IfcTypeList">
          <li *ngFor="let item of allTypes"> 
            <input type="checkbox" [(ngModel)]="item.checked">{{item.type}}
          </li>
        </ul>
      </div>
      
      <mat-progress-bar *ngIf="modelLoading" mode="indeterminate" class="mat-progress-bar-buffer"></mat-progress-bar>

      <div *ngIf="displaySpaceTabel" id="excel-table"> Standard room tabel
        <table style="width: 100%;">
        <tr> 
          <th>Space</th>
          <th>Name</th>
          <th>Label</th>
          <th>Room Category</th>
          <th>Level</th>
          <th>Area</th>
        </tr>
        <tr *ngFor="let i of allSpaceData"> 
            <td>{{i.space}}</td>
            <td>{{i.spaceName}}</td>
            <td>{{i.spaceLabel}}</td>
            <td>{{i.spaceCategory}}</td>
            <td>{{i.spaceLevel}}</td>
            <td>{{i.spaceArea}}</td>
          </tr>
        </table>
      </div>

      <div *ngIf="dataExtracted" id="excel-table"> Results from data extraction, which can be exported to Excel
      <table *ngFor="let i of allElements" style="width: 100%;">
        <tr> 
          <th>IfcType</th>
          <th>ID</th>
          <th>Property Set</th>
          <th>Property</th>
          <th>Value</th>
        </tr>
        <tr *ngFor="let item of i">
          <td>{{item.TypeName}}</td>
          <td>{{item.instGUID}}</td>
          <td>{{item.pSet}}</td>
          <td>{{item.property}}</td>
          <td>{{item.value}}</td>          
        </tr>

      </table>
    </div>
  
    </as-split-area>
  </as-split>
</div>