<div class="container">
  <as-split direction="horizontal">  
    <as-split-area [size]="30"  style="position: relative; overflow: hidden;">
      <ifc-viewer [settings]="modelViewerSettings"></ifc-viewer>
    </as-split-area>

    <as-split-area [size]="70" style="padding: 10px; overflow-y: scroll; display: flex; flex-direction: column; gap: 10px">
      <input #ifcUpload type="file" (change)="onModelUpload($event)" style="display:none" accept=".ifc">
      <button class="btn" mat-raised-button (click)="ifcUpload.click()">Upload IFC</button>
      <button class="btn" mat-raised-button *ngIf="fileUploaded" (click)="extractData()">Extract Data</button>
      <button class="btn" mat-raised-button *ngIf="dataExtracted" (click)="exportExcel()">Export to Excel</button>

      <div *ngIf="fileUploaded"> Select which IFC types you want to make the data extraction for:
        <ul>
          <li *ngFor="let item of list"> 
            <input type="checkbox" [(ngModel)]="item.checked">{{item.title}}
          </li>
        </ul>
      </div>

      <div *ngIf="dataExtracted" id="excel-table"> Results from data extraction, which can be exported to Excel
      <table *ngFor="let i of allElements">
        <tr> 
          <th>IfcType</th>
          <th>Instance</th>
          <th>Property</th>
          <th>Value</th>
        </tr>
        <tr *ngFor="let item of i">
          <td>{{item.ifcTypeName}}</td>
          <td>{{item.instance}}</td>
          <td>{{item.property}}</td>
          <td>{{item.value}}</td>          
        </tr>

      </table>
    </div>
  
    </as-split-area>
  </as-split>
</div>